{% extends 'base.html.twig' %}

{% block title %}Edit Timework{% endblock %}

{% block body %}
    <h1>Edit Timework</h1>

    {{ include('timework/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('timework_index') }}">back to list</a>

    {{ include('timework/_delete_form.html.twig') }}
{% endblock %}
