<form method="post" action="{{ path('regel_delete', {'id': regel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ regel.id) }}">
    <button class="btn">Delete</button>
</form>
