<footer id ="footer" class="main-footer">
    <!-- Default to the left -->
    <center><strong>Copyright &copy; 2022 <a href="#">Mohamed Rami Aouinti</a>.</strong> All rights reserved.</center>
</footer>
