<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-2">
                <div class="info-box">
                    <div class="info-box-content">
                        <h1> {{ page }} </h1>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-sm-2">
                {% if (buttonNew)  %}
                {% include 'layout/modal.html.twig' with {'buttonNew': buttonNew, 'form': form} %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if (filter) %}
                {{ knp_pagination_filter(data, {
                    'u.id': 'Id'
                }, {}, {}, 'layout/filter.html.twig') }}
                {% endif %}
            </div>
            <div class="col-sm-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ path(path) }}">Home</a></li>
                    <li class="breadcrumb-item active">{{ page }}</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
