<nav class="main-header navbar navbar-expand-md navbar-light navbar-dark">
    <div class="container-fluid">
        <a href="{{ path('home') }}" class="navbar-brand">
            <span class="brand-text font-weight-warning text-warning">Pfundskerl Intern</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{ include('layout/nav/right_navbar.html.twig') }}
        {{ include('layout/nav/left_navbar.html.twig') }}
    </div>
</nav>
